body {
  background: #FFFFFF;
  font-family: Optima;
  font-size:17px;
  max-width: 1000px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

header {
  background: #FFFFFF;
  font-family: Optima;
  font-weight: bold;
}

footer {
  background: #FFFFFF;
  font-family: Optima;
  font-weight: bold;
  margin: 2em 0px 10em 0px;
}

h1, h2, h3, p, li {
  color: #484848;
}

h1 {
  margin: 1em 0px 1em 0px;
}

h2 {
  margin: 2em 0px 0px 0px;
}

a {
  text-decoration: none;
  color: #B22222;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  color: #484848;
}

nav ul li:not(:first-child):before {
    padding: 1em;
    margin: 0px;
    content: "|";
}

nav ul li a {
  text-decoration: none;
  color: #484848;
}

footer ul {
  text-align: center;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
  color: #484848;
}

footer ul li:not(:first-child):before {
    padding: 1em;
    margin: 0px;
    content: "|";
}

footer ul li a {
  text-decoration: none;
  color: #484848;
}

footer img {
  display:inline-block;
  vertical-align:middle;
  padding: 0px;
  margin: 0px;
}

.bounded{
  width: 380px;
}

.button {
  background-color: white;
  cursor: pointer;
  border: none;
  color: black;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 10px;
  text-align: center;
  font-family: Optima;
  font-size: 12pt;
}

.boxabstract {
  width: 100%;
  padding: 5px 5px;
  text-align: justify;
  background-color: Gainsboro;
  margin-top: 10px;
}